
audio/test.mp3
tools/__pycache__/messageHandler.cpython-310.pyc
*.pyc
*.mp3
*.mp3
.env
.vscode/settings.json
gi
.idea/BOT_Discord.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
